* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

.game-wrapper {
    position: relative;
    width: 1280px;
    height: 720px;
    border: 6px solid black;
    overflow: hidden;
    background: black;
}

.game-bg {
    position: absolute;
    inset: 0;
    background: url("../images/game-bg.png") no-repeat center;
    background-size: cover;
}

#fishing-line {
    position: absolute;
    top: 155px;
    left: 585px;
    width: 6px;
    height: 0;
    background-color: black;
}

#line-mask {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: url("../images/linemask.png") no-repeat center;
    background-size: cover;
}

#hook {
    position: absolute;
    bottom: -24px;
    left: 55%;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    background: url("../images/hook.png") no-repeat center;
    background-size: contain;
}

.water-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
}

.fish {
    position: absolute;
    width: 80px;
    height: auto;
    top: 0;
    left: 0;
    will-change: left;
}