* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

#game-title {
    font-size: 120px;
    margin-top: -60px;
    margin-bottom: 50px;
}

.start-buttons {
    border: 2px black solid;
    border-radius: 5px;
    font-size: 50px;
    text-decoration: none;
    padding: 20px;
    color: black;
}