* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 1000 ;
  font-style: normal;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 30px;
}

.bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("/images/menu-bg.png") no-repeat center center fixed;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

#game-title {
    font-size: 130px;
    /* border: 9px rgba(255, 255, 255, 0) solid;
    background: rgb(63, 103, 171, 0.6); */
        /* backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
    padding: 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.start-buttons {
    border: 7px rgba(5, 40, 50, 0.8) solid;
    border-radius: 10px;
    font-size: 70px;
    text-decoration: none;
    padding: 20px;
    color: rgb(13, 62, 78);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(10px);
    width: 450px;
    text-align: center;
}

.start-buttons:hover{
    background: rgba(255, 255, 255, 0.9);
}

#main-cat-picture {
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
}
